@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*начало первого блока; стили для блока header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: -3;
}
/*стили для элемента logo*/
.logo {
  height: 32px;
  width: 228px;
}
/*стили для модификатора logo*/
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position:absolute;
  top: 30px;
  left: 64px;
}
/*стили для заголовка блока header*/
.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}
/*стили для текста в блоке header*/
.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  left:64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/*стили для ссылки в блоке header*/
.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .2;
}
/*картинка для блока header*/
.header__main-illustration {
  background-image: url(../images/header-image.png);
  background-size: cover;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/*фон для картинки блока header*/
 .header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right:0;
  z-index: -2;
  animation: rotation 20s linear infinite;
}

.techniques {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.cards__item:nth-of-type(3) {
  margin: 0;
}


.cards__image {
  margin: 60px 40px 0 40px;
  border-radius: 50%;
  object-fit: cover;
}

.cards__title {
  margin: 43px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cards__description {
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.video__iframes {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 1050px;
  justify-content: space-around;
}

.oakley {
  margin: 160px auto 0;
}

/*начало второго блока; стили для блока description*/
.description {
  padding: 0;
  margin: 100px 0 0 0;
}
/*флекс-бокс второго блока*/
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
/*вставка в текст*/
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px auto;
}
/*обнуляем верхний отступ у первого элемента paragraph*/
.two-colums__paragraph:first-child {
  margin-top:0;
}
/*обнуляем нижний отступ у последнего элемента paragraph*/
.two-colums__paragraph:last-child {
  margin-bottom: 0;
}
/*начало третьего блока; стили третьего блока (digits)*/
.digits {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  justify-items: center;
  align-items: center;
}
/*стили заголовка таблицы*/
.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
/*стили подзаголовка таблицы*/
.section-subtitle {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/*стили таблицы*/
.table {
  list-style-type: none;
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/*стили элемента таблицы*/
.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}
/*стили заголовков каждого элемента таблицы*/
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
/*стили текста каждого элемента таблицы*/
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
/*начало четвертого блока; стили четвертого блока (feinman)*/
.feynman {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  min-height: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}
/*стили загаловка блока*/
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 0;
}
/*стили подзаголовка блока*/
.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 0;
}
/*стили ссылки*/
.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 0;
  transition: opacity 1s linear;
}

.feynman__link:hover {
  opacity: .5;
}
/*стили для картинки с Фейманом*/
.feynman__picture {
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
}

.khan {
  margin-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__autor {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-autor {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}

.khan__quote-autor-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  justify-content: flex-start;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-image: url(../images/khan-book.jpg);
  background-size: cover;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s linear;
}

.khan__buy-link:hover {
  opacity: .5;
}
/*начало пятого блока; стили блока kaufman*/
.kaufman {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  justify-items: center;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  z-index: 0;
  overflow: hidden;
}
/*модификатор белого цвета текстовки*/
.section-title_theme_dark, .section-subtitle_theme_dark, .table__heading_theme_dark, 
.table__text_theme_dark, .table_theme_dark {
  color: #f2f2f2;
}
/*модификатор для ячейки таблицы*/
.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
}
/*треугольник*/
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resources__link {
  width: 270px;
  height: 38px;
  text-align: center;
  transition: opacity 1s linear;
}

.resources__logo {
  height: 38px;
}

.resources__link:hover {
  opacity: .5;
}
/*начало шестого блока; стили блока footer*/
.footer {
  min-height: 350px;
  padding-bottom: 40px;
  padding-top: 60px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  position: relative;
}
/*стили для флекс-бокса, в котором выстриваются элементы*/
.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 250px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
/*стили каждой колонки*/
.footer__column {
  display: flex;
  flex-direction: column;
}
/*модификатор стиля для левой колонки*/ 
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
/*стили автора страницы*/
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #f2f2f2;
}
/*стили логотипа подвала*/
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column_content_info {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__column_content_social {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #f2f2f2;
}
/*стили контейнера со ссылками*/
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
/*стили каждой ссылки блока footer*/
.footer__column-link {
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: .5;
}


/*стили для иконоко соцсетей*/
.footer__social-icon {
  height: 16px;
  width: 16px;
  object-fit: cover;
  margin: 0 10px 0 0;
}